<div class="inbox">
  <h4 style="margin: 10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Inbox</h4>
  <div class="container">
    <div class="col-12">
      <div class="card" *ngFor="let email of emails" >
        <div class="card-body">
          <h6>
            From: {{ email.from }}
          </h6>
          <h6>
            Subject:{{ email.subject }}
          </h6>

          <p>Preview: {{ email.preview }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
